<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='span2 filter'>
        </div>
        <div class='span10'>
            <ul class='phones'></ul>
        </div>
    </div>
</div>
